[diff]
        external= /absolute/ediff
        tool = ediff
[difftool "ediff"]
    cmd = /absolute/ediff "$LOCAL" "$REMOTE" "$BASE"
[difftool]
    prompt = false

# [diff]
#    external = /absolute/ediff

# ediff
# #!/bin/sh
# emacs -nw --eval "(ediff-files \"$1\" \"$2\")"
# or
# emacsclient -c -a \"\" --eval "(ediff \"$1\" \"$2\")" 
